
<!-- start banner Area -->
<section class="banner-area">
  <div class="container">
    <div class="row fullscreen align-items-center justify-content-start">
      <div class="col-lg-12">
        <div class="active-banner-slider owl-carousel">
          <!-- single-slide -->
          <div class="row single-slide align-items-center d-flex">
            <div class="col-lg-5 col-md-6">
              <div class="banner-content">
                <h1>Ride till <br />you can’t</h1>
                <p>Wherever you ride, we've got a bike for the joyrider in you.</p>
                {{!-- <div class="add-bag d-flex align-items-center">
                  <a class="add-btn" href=""><span
                      class="lnr lnr-cross"
                    ></span></a>
                  <span class="add-text text-uppercase">Add to Bag</span>
                </div> --}}
              </div>
            </div>
            <div class="col-lg-7">
              <div class="banner-img">
                <img class="img-fluid" src="/img/banner_2.png" alt="" />
              </div>
            </div>
          </div>
          <!-- single-slide -->
          <div class="row single-slide">
            <div class="col-lg-5">
              <div class="banner-content">
                <h1>The world<br />is your playground</h1>
                <p>When the spirits are low, when the day appears dark, when work becomes monotonous, when hope hardly seems worth having, just mount a bicycle and go out for a spin down the road, without thought on anything but the ride you are taking</p>
                {{!-- <div class="add-bag d-flex align-items-center">
                  <a class="add-btn" href=""><span
                      class="lnr lnr-cross"
                    ></span></a>
                  <span class="add-text text-uppercase">Add to Bag</span>
                </div> --}}
              </div>
            </div>
            <div class="col-lg-7">
              <div class="banner-img">
                <img class="img-fluid" src="/img/banner/banner4.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->


<!-- start product Area -->

  <!-- single product slide -->
  <div class="single-product-slider mt-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="section-title">
            <h1>Latest Products</h1>
            <p>Check out what's new in the world of PEDALX</p>
          </div>
        </div>
      </div>
      <div class="row">
       {{#each newArrivals}}
        <!-- single product -->
        <div class="col-lg-3 col-md-6">
          <div class="single-product">
            <a href="/view-product/{{this._id}}">
            <img class="img-fluid" src="{{this.images.[0]}}" alt="" />
            </a>
            <div class="product-details">
              <a href="/view-product/{{this._id}}">
              <h6>{{this.name}}</h6>
              </a>
              <div class="price">
                {{#eq this.price this.offerPrice}}
                <h6>₹{{this.offerPrice}}</h6>
                {{else}}
                <h6>₹{{this.offerPrice}}</h6>
                <h6 class="l-through">₹{{this.price}}</h6>
                {{/eq}}
              </div>
              <div class="prd-bottom">

                <a href="" class="social-info addToCart" data-product="{{this._id}}">
                  <span class="ti-bag"></span>
                  <p class="hover-text">add to bag</p>
                </a>
                <a href="" class="social-info addToWishlist" data-product="{{this._id}}">
                  <span class="lnr lnr-heart"></span>
                  <p class="hover-text">Wishlist</p>
                </a>
                <a href="/view-product/{{this._id}}" class="social-info">
                  <span class="lnr lnr-move"></span>
                  <p class="hover-text">view more</p>
                </a>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>


<!-- end product Area -->



<!-- Start brand Area -->
<section class="brand-area section_gap">
  <div class="container">
    <div class="row">
        <a class="col single-img">
        <img class="img-fluid d-block mx-auto" src="/img/brandlogos/firefox.jpg" alt="" />
      </a>
      <a class="col single-img">
        <img class="img-fluid d-block mx-auto" src="/img/brandlogos/2506-scott_logo.jpg" alt="" />
      </a>
      <a class="col single-img">
        <img class="img-fluid d-block mx-auto" src="/img/brandlogos/41jcA988ZsS._AC_SY580_.jpg" alt="" />
      </a>
      <a class="col single-img">
        <img class="img-fluid d-block mx-auto" src="/img/brandlogos/Cannondale-Bicycle-Corporation.png" alt="" />
      </a>
      <a class="col single-img">
        <img class="img-fluid d-block mx-auto" src="/img/brandlogos/montra.png" alt="" />
      </a>
    </div>
  </div>
</section>
<!-- End brand Area -->


<!-- start features Area -->
<section class="features-area section_gap">
  <div class="container">
    <div class="row features-inner">
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="img/features/f-icon1.png" alt="" />
          </div>
          <h6>Free Delivery</h6>
          
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="img/features/f-icon2.png" alt="" />
          </div>
          <h6>Return Policy</h6>
          
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="img/features/f-icon3.png" alt="" />
          </div>
          <h6>24/7 Support</h6>
          
        </div>
      </div>
      <!-- single features -->
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="single-features">
          <div class="f-icon">
            <img src="img/features/f-icon4.png" alt="" />
          </div>
          <h6>Secure Payment</h6>
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end features Area -->


<script>
	const addToCart = async (productId) => {
		try {
			const res = await axios({
				method: 'GET', url: `/add-to-cart/${productId}`
			})
			if(res.data.status==="success"){
			Toastify({
                text: res.data.message,
                duration: 3000,
				gravity: "bottom",
                position: "center",
				 style: {
                 background: "linear-gradient(to right, #fe6d00, #ffb900)",
                  },
			}).showToast();
            }else{
				Toastify({
                text: res.data.message,
                duration: 3000,
				gravity: "bottom",
                position: "center",
				 style: {
                 background: "linear-gradient(to right, #fe6d00, #ffb900)",
                  },
			}).showToast();
			location.assign('/login')
			}
		} catch (err) {
			console.log(err);
		}
	}


	const addToWishlist = async (productId) => {
		try {
			const res = await axios({
				method: 'GET', url: `/add-to-wishlist/${productId}`
			})
			if(res.data.status==="success"){
			Toastify({
                text: "Product is added to wishlist",
                duration: 3000,
				gravity: "bottom",
                position: "center",
				 style: {
                 background: "linear-gradient(to right, #fe6d00, #ffb900)",
                  },
			}).showToast();
            }else{
				Toastify({
                text: res.data.message,
                duration: 3000,
				gravity: "bottom",
                position: "center",
				 style: {
                 background: "linear-gradient(to right, #fe6d00, #ffb900)",
                  },
			}).showToast();
			}
		} catch (err) {
			console.log(err);
		}
	}

	document.querySelectorAll('.addToCart').forEach(item => {

		item.addEventListener('click', function (e) {
			e.preventDefault();
			addToCart(this.dataset.product);
		});
	})

	document.querySelectorAll('.addToWishlist').forEach(item => {

		item.addEventListener('click', function (e) {
			e.preventDefault();
	        addToWishlist(this.dataset.product);
		});
	})



</script>