<style>
	.rating-wrapper {
		align-self: center;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		border-radius: 5rem;
		display: inline-flex;
		direction: rtl !important;
		padding: 1.5rem 2.5rem;
		margin-left: auto;
	}

	.rating-wrapper label {
		color: #E1E6F6;
		cursor: pointer;
		display: inline-flex;
		font-size: 3rem;
		padding: 1rem 0.6rem;
		transition: color 0.5s;
	}

	.rating-wrapper svg {
		-webkit-text-fill-color: transparent;
		-webkit-filter: drop-shadow 4px 1px 6px #c6ceed;
		filter: drop-shadow(5px 1px 3px #c6ceed);
	}

	.rating-wrapper input {
		height: 100%;
		width: 100%;
	}

	.rating-wrapper input {
		display: none;
	}

	.rating-wrapper label:hover,
	.rating-wrapper label:hover~label,
	.rating-wrapper input:checked~label {
		color: #fbd600;
	}

	.rating-wrapper label:hover,
	.rating-wrapper label:hover~label,
	.rating-wrapper input:checked~label {
		color: #fbd600;
	}
</style>

<!--================Single Product Area =================-->
<div class="product_image_area mt-5">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-1" id="thumbnaillist">

				<!-- Slider -->
				<div class="thumbnail_images alignRow">
					<div class="imageColumn">
						<img onclick="changeImage('{{product.[0].images.[0]}}')" src={{product.[0].images.[0]}}
							style="width:100%;">
					</div>
					<div class="imageColumn">
						<img onclick="changeImage('{{product.[0].images.[1]}}')" src={{product.[0].images.[1]}}
							style="width:100%">
					</div>
					<div class="imageColumn">
						<img onclick="changeImage('{{product.[0].images.[2]}}')" src={{product.[0].images.[2]}}
							style="width:100%">
					</div>
					<div class="imageColumn">
						<img onclick="changeImage('{{product.[0].images.[3]}}')" src={{product.[0].images.[3]}}
							style="width:100%">
					</div>
				</div>

			</div>
			<div class="col-lg-5">
				<div class="">
					<div class="single-prd-item">
						<img class="img-fluid" id="zoom" src={{product.[0].images.[0]}}>
					</div>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<input class="d-none" id="productId" value="{{product.[0]._id}}">
					<h3>{{product.[0].name}}</h3>
					<h2>₹{{toLocaleString product.[0].price}}</h2>
					<ul class="list">
						<li><a class="active"><span>Category</span> : {{product.[0].categoryDetails.[0].name}}</a></li>
						<li><a class="active"><span>Brand</span> : {{product.[0].brandDetails.[0].name}}</a></li>
						{{#gt product.[0].stock 5}}
						<li><a href="#"><span>Availibility</span> : In Stock</a></li>
						{{else}}
						{{#eq product.[0].stock 0}}
						<li><a><span>Availibility</span> : Out of Stock</a></li>
						{{else}}
						<li><a><span>Availibility</span> : <span style="color: red;">Only {{product.[0].stock}} are
									left</span></a></li>
						{{/eq}}
						{{/gt}}

					</ul>
					<p>{{product.[0].description}}</p>
					<div class="card_area d-flex align-items-center">
						{{#eq product.[0].stock 0}}
						<div class="primary-btn">Out of Stock</div>
						{{else}}
						<div class="primary-btn addToCart" data-product={{product.[0]._id}}>Add to Cart</div>
						{{/eq}}
						<div class="icon_btn addToWishlist" data-product="{{product.[0]._id}}" style="z-index: 0;"><i
								class="lnr lnr lnr-heart"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
					aria-selected="true">Description</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab"
					aria-controls="review" aria-selected="false">Reviews</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
				{{product.[0].description}}
			</div>

			<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="row justify-content-center">
					{{#if reviews}}
					<div class="col-lg-6">
						<div class="row total_rate">
							<div class="col-6">
								<div class="box_total">
									<h5>Overall</h5>
									<h4>{{reviews.[0].averageRating}}</h4>
									<h6>({{reviews.[0].totalReview}} Reviews)</h6>
								</div>
							</div>
							<div class="col-6">
								<div class="rating_list">
									<h3>Based on {{reviews.[0].totalReview}} Reviews</h3>
									<ul class="list">
										<li><a href="#">5 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">4 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">3 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">2 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
										<li><a href="#">1 Star <i class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i><i class="fa fa-star"></i><i
													class="fa fa-star"></i> 01</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="review_list">
                           {{#each reviews}}
							<div class="review_item">
								<div class="media">
									<div class="media-body">
										<h4>{{this.userData.[0].name}}</h4>
                                         <div id="mRating{{@index}}" data-rating="{{this.reviews.rating}}">
										
										</div>
										
										<script>
										var rating=parseInt(document.getElementById('mRating{{@index}}').dataset.rating)
										var i;
										var div=document.getElementById('mRating{{@index}}')
										div.innerHTML=''
										for( i=0;i<rating;i++){
										div.innerHTML+=`<i class="fa fa-star">`
										}
										</script>
									</div>
								</div>
								<p>{{this.reviews.review}}</p>
							</div>
							{{/each}}
						</div>
					</div>
                    {{else}}
					<div class="col-lg-6">
					<h3>No reviews yet</h3>
					</div>
					{{/if}}

					{{#if isEligibleToReview}}
					{{!-- add review --}}
					<div class="col-lg-6">
						<div class="review_box">
							<h4>Add a Review</h4>
							<form id="postReview">
								<!-- star rating -->
								<div class="rating-wrapper">

									<!-- star 5 -->
									<input type="radio" id="5-star-rating" name="star-rating" value="5">
									<label for="5-star-rating" class="star-rating">
										<i class="fas fa-star d-inline-block"></i>
									</label>

									<!-- star 4 -->
									<input type="radio" id="4-star-rating" name="star-rating" value="4">
									<label for="4-star-rating" class="star-rating star">
										<i class="fas fa-star d-inline-block"></i>
									</label>

									<!-- star 3 -->
									<input type="radio" id="3-star-rating" name="star-rating" value="3">
									<label for="3-star-rating" class="star-rating star">
										<i class="fas fa-star d-inline-block"></i>
									</label>

									<!-- star 2 -->
									<input type="radio" id="2-star-rating" name="star-rating" value="2">
									<label for="2-star-rating" class="star-rating star">
										<i class="fas fa-star d-inline-block"></i>
									</label>

									<!-- star 1 -->
									<input type="radio" id="1-star-rating" name="star-rating" value="1">
									<label for="1-star-rating" class="star-rating star">
										<i class="fas fa-star d-inline-block"></i>
									</label>
								</div>
								<span id="spnError" class="error ml-5"
									style="display: none; color:red; margin-top: 13px; font-size: 19px;">Please give the
									rating</span>
								<div class="col-md-12 mt-4">
									<div class="form-group">
										<textarea class="form-control" name="review" id="treview" rows="4"
											placeholder="write your review" onfocus="this.placeholder = ''"
											onblur="this.placeholder = 'write your review'"></textarea></textarea>
									</div>
								</div>
								<div class="col-md-12 text-right ">
									<button type="submit" value="submit" class="primary-btn">Submit Now</button>
								</div>
							</form>
						</div>
					</div>
					{{/if}}

				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Product Description Area =================-->

<script>
	setTimeout(() => {

		$('#zoom').imagezoomsl();
	}, 100)
	function changeImage(element) {
		var main_product_image = document.getElementById('zoom');
		main_product_image.src = element;
		$('#zoom').imagezoomsl();

	}


	const addToCart = async (productId) => {
		try {
			console.log(productId)
			const res = await axios({
				method: 'GET', url: `/add-to-cart/${productId}`
			})
			if (res.data.status === "success") {
				Toastify({
					text: "Product is added to cart",
					duration: 3000,
					gravity: "bottom",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
			} else {
				location.assign('/login')
			}
		} catch (err) {
			console.log(err);
		}
	}

	const addToWishlist = async (productId) => {
		try {
			const res = await axios({
				method: 'GET', url: `/add-to-wishlist/${productId}`
			})
			if (res.data.status === "success") {
				Toastify({
					text: "Product is added to wishlist",
					duration: 3000,
					gravity: "bottom",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
			} else {
				Toastify({
					text: res.data.message,
					duration: 3000,
					gravity: "bottom",
					position: "center",
					style: {
						background: "linear-gradient(to right, #fe6d00, #ffb900)",
					},
				}).showToast();
			}
		} catch (err) {
			console.log(err);
		}
	}

	document.querySelector('.addToCart').addEventListener('click', e => {
		e.preventDefault();
		productId = document.querySelector('.addToCart').dataset.product;
		addToCart(productId);
	});

	document.querySelectorAll('.addToWishlist').forEach(item => {

		item.addEventListener('click', function (e) {
			e.preventDefault();
			addToWishlist(this.dataset.product);
		});
	})


</script>

<script>
	const postReview = async ( productId, rating, review) => {
		try {
			const res = await axios({
				method: 'POST', url: '/post-review', data: { productId, rating, review }
			})
			location.reload()
		} catch (err) {
			console.log(err)
		}
	}

	$(document).ready(function () {
		$("#postReview").validate({
			errorClass: 'errors',
			rules: {

				review: {
					required: true,
				}
			},
			messages: {
				review: {
					required: "Please enter review",
				},
			},

			submitHandler: function () {
				const isValid = $("input[name=star-rating]").is(":checked");
				$("#spnError")[0].style.display = isValid ? "none" : "block";
				if (!isValid) {
					return
				}
				const rating = document.querySelector('input[name="star-rating"]:checked').value;
				const review = document.getElementById('treview').value;
				const productId=document.getElementById('productId').value;
				postReview(productId,rating, review)
			}
		});
	});
</script>

