
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Wishlist</h1>
                    <nav class="d-flex align-items-center">
                        <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="/wishlist">Wishlist</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

   {{#if isEmpty}}
    <div class='container-fluid d-flex row'>
        {{#each wishlist.productDetails}}
        <div class="card mx-auto col-lg-2 mt-5 mb-5">
            <div class="removeFromWishlist" data-product="{{this._id}}"><i class="fas fa-times-circle" style="cursor: pointer;"></i></div>
            <img class='mx-auto img-thumbnail'
                src="{{this.images.[0]}}"
                width="auto" height="auto"/>
            <div class="card-body text-center mx-auto">
                <div class='cvp'>
                    <h5 class="card-title font-weight-bold">{{this.name}}</h5>
                    <p class="card-text">₹{{this.price}}</p>
                    <a href="/view-product/{{this._id}}" class="btn details px-auto">view details</a><br />
                    <div class="btn carts px-auto addToCart" data-product="{{this._id}}">ADD TO CART</div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="emptycart">
    <img src="/img/emptycart.jpg" style="width: 500px;">
    </div>
    {{/if}}



    <style>
      .details {
            border: 1.5px solid grey;
            color: #212121;
            width: 100%;
            height: auto;
            box-shadow: 0px 0px 10px #f56900;
        }

        .carts {
            background: linear-gradient(to right, #fe7c00, #ffb900);
            color: white;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 900;
            width: 100%;
            height: 39px;
            padding-top: 9px;
            box-shadow: 0px 5px 10px  #212121;
        }

        .card {
            width: fit-content;
        }

        .card-body {
            width: fit-content;
        }

        .btn {
            border-radius: 0;
        }

        .img-thumbnail {
            border: none;
        }

        .card {
            box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
            border-radius: 5px;
            padding-bottom: 10px;
        }
        .addToCart{
            opacity: 0.8;
        }
        .addToCart:hover{
            opacity: 1;
        }
         .emptycart{
        display: flex;
        justify-content: center;
    }
        

    </style>


<script>
   
	const addToCart = async (productId) => {
		try {
			const res = await axios({
				method: 'GET', url: `/add-to-cart/${productId}`
			})
			if(res.data.status==="success"){
			Toastify({
                text: res.data.message,
                duration: 3000,
				gravity: "bottom",
                position: "center",
				 style: {
                 background: "linear-gradient(to right, #fe6d00, #ffb900)",
                  },
			}).showToast();
            }else{
				Toastify({
                text: res.data.message,
                duration: 3000,
				gravity: "bottom",
                position: "center",
				 style: {
                 background: "linear-gradient(to right, #fe6d00, #ffb900)",
                  },
			}).showToast();
			location.assign('/login')
			}
		} catch (err) {
			console.log(err);
		}
	}
	const removeFromWishlist = async (productId) => {
		try {
			const res = await axios({
				method: 'GET', url: `/remove-from-wishlist/${productId}`
			})
			if(res.data.status==="success"){
			Toastify({
                text: res.data.message,
                duration: 3000,
				gravity: "bottom",
                position: "center",
				 style: {
                 background: "linear-gradient(to right, #fe6d00, #ffb900)",
                  },
			}).showToast();
            }
            location.reload()
		} catch (err) {
			console.log(err);
		}
	}


	document.querySelectorAll('.addToCart').forEach(item => {

		item.addEventListener('click', function (e) {
			e.preventDefault();
			addToCart(this.dataset.product);
		});
	})
	document.querySelectorAll('.removeFromWishlist').forEach(item => {

		item.addEventListener('click', function (e) {
			e.preventDefault();
			removeFromWishlist(this.dataset.product);
		});
	})


</script>